/* Schedule.css */
.schedule-card {
  width: 730px;
  height: 150px;
  background-color: #00000018;
  border-radius: 8px;
  padding: 15px 20px;
  position: relative;
}

.left-bar {
  width: 13px;
  background-color: #256589;
  border-radius: 8px 0 0 8px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.schedule-card-content {
  padding-left: 13px;
  flex: 1;
  position: relative;
}

.schedule-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.time,
.room {
  font-size: 18px;
  font-weight: 300;
}

.subject {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
}

.type {
  font-size: 16px;
  margin: 10px 0;
}

.schedule-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groups-teacher-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.groups {
  font-size: 15px;
}

.teacher {
  font-size: 13px;
  text-align: right;
}



