.menu-button {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2;
    background-color: #1d5575;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    transform: translateY(-50%);
}

.menu-button:hover {
    background-color: #24658a;
}

.sidebar {
    width: 325px;
    height: calc(100vh - 144px);
    background-color: #256489b8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 70px;
    z-index: 1;
    transition: right 0.3s ease;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-btn {
    width: 150px;
    height: 45px;
    background-color: #1d5575;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.arrow-btn:hover {
    background-color: #24658a;
}

.week-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-btn {
    background-color: #1d5575;
    color: white;
    padding: 10px;
    margin: 15px 0;
    width: 250px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    opacity: 0.85;
}

.highlight {
    outline: 3px solid #ffffff9d;
    color: white;
}

.selected {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        opacity: 70%;
    }
    .sidebar {
        width: 250px;
        right: -250px;
        top: 60px; 
        bottom: 60px; 
        overflow-y: auto; 
    }
    .sidebar.open {
        right: 0;
        width: 100%; 
    }
    .arrow-btn {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .nav-btn {
        margin: 10px 0; 
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-button {
        display: block;
        top: 45%; /* Легке коригування позиції на планшетах */
        font-size: 22px; /* Трохи зменшений шрифт */
        padding: 8px 18px;
    }

    .sidebar {
        width: 280px; /* Зменшена ширина панелі для планшетів */
        right: -280px; /* Початкове положення */
        top: 60px; 
        bottom: 60px; 
        overflow-y: auto; /* Прибираємо скрол */
    }

    .sidebar.open {
        right: 0; /* Висуваємо панель на екран при відкритті */
    }

    .arrow-btn {
        width: 130px;
        height: 42px;
        font-size: 15px;
    }

    .nav-btn {
        width: 220px;
        font-size: 13px;
        margin: 12px 0;
    }
}


